@using Geo.Models;

@model Absence

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Absence</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label asp-for="startDate" class="control-label"></label>
                <input asp-for="startDate" class="form-control" />
                <span asp-validation-for="startDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="endDate" class="control-label"></label>
                <input asp-for="endDate" class="form-control" />
                <span asp-validation-for="endDate" class="text-danger"></span>
            </div>
@*            <div class="form-group" style="margin-top: 10px; margin-bottom: 10px;">
                <label asp-for="absenceType" class="control-label"></label>
                    @Html.DropDownListFor(t => t.absenceType,
                        new SelectList(Enum.GetValues(typeof(AbsenceType))),
                        "Select type")
                <span asp-validation-for="absenceType" class="text-danger"></span>
            </div>*@

            <input type="hidden" asp-for="approved" name="check" value="2" />

            <div class="form-group" style="padding-top: 5px;">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
